<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kyadevs.stepdroid">

    <!-- Required to access Google Play Licensing -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <!-- Required to download files from Google Play -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
         Required to keep CPU alive while downloading files
        (NOT to keep screen awake)
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--
         Required to poll the state of the network connection
        and respond to changes
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required to check whether Wi-Fi is enabled -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Required to read and write the expansion files on shared storage -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />



    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="StepDroid"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />




        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9689972331812584~5469764045" />


        <activity
            android:name="com.kyadevs.stepdroid.MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask" />
        <activity
            android:name="com.kyadevs.stepdroid.SongList"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.kyadevs.stepdroid.PlayerBga"
            android:keepScreenOn="true"
            android:screenOrientation="fullSensor"
            />
        <activity android:name="com.kyadevs.stepdroid.Recycler" />
        <activity
            android:name="com.kyadevs.stepdroid.EvaluationActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.kyadevs.stepdroid.Splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:screenOrientation="fullSensor"
            android:theme="@style/FullscreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kyadevs.stepdroid.MainScreenActivity"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
        </activity>
        <activity
            android:name="com.kyadevs.stepdroid.SettingsActivity"
            android:label="@string/title_activity_settings" />
    </application>

</manifest>